<div class="question-block ion-padding">
  <div class="text-wrapper">
    <h2 class="question-text">{{ data.question }}</h2>

    <div class="word-card">
      {{ data.word }}
    </div>
  </div>

  <div class="options-container">
    <ion-button
      *ngFor="let option of data.options"
      expand="block"
      shape="round"
      fill="solid"
      (click)="selectOption(option)"
      [ngClass]="getClass(option)"
      class="option-button">
      {{ option }}
    </ion-button>
  </div>
</div>
