<ion-header class="no-shadow">
    <ion-toolbar>
        <ion-title class="ion-text-center">
            Aprende Boruca
        </ion-title>
    </ion-toolbar>
    <ion-toolbar class="search-section">
        <ion-searchbar placeholder="Buscar Clase" animated="true"></ion-searchbar>
        <ion-button (click)="searchFunction()" fill="clear">
            <ion-icon name="src\assets\icon\search.svg" slot="icon-only" color="primary"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
    <h1>Welcome to the Language Learning App!</h1>
    <p>Start your journey by choosing a language.</p>
</ion-content>