<ion-header class="no-shadow">
    <ion-toolbar>
        <ion-title class="ion-text-center">
            Aprende Boruca
        </ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <div class="search-section">
            <ion-searchbar placeholder="Buscar Clase"
                animated="true"></ion-searchbar>
            <ion-button (click)="searchFunction()" fill="clear">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
    <h1>Welcome to the Language Learning App!</h1>
    <p>Start your journey by choosing a language.</p>
</ion-content>