.class-card {
  border-radius: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  margin: 10px 0;
  background: white;
  height: 85px;
  overflow: hidden;

  ion-card-header {
    padding: 8px 12px 0 12px;

    ion-card-title {
      font-size: 0.8rem;
      font-weight: 600;
      color: #333;
      margin: 0;
      padding-top: 5px;
      padding-bottom: 0px;
    }
  }

  ion-card-content {
    padding: 0;

    .card-content-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 12px;
    }

    .description {
      font-size: 0.7rem;
      color: #99BAA3;
      margin-right: 35px;
    }

    .icon-image {
      width: 55px;
      height: 55px;
      object-fit: contain;
      opacity: 0.8;
      padding-right: 8px;
    }
  }
}

.search-section {
  display: flex;
  align-items: center; 
  padding: 1px; 
  width: 100%;
}

ion-title {
  font-family: 'Fredoka', sans-serif !important;
  font-size: 1rem;
  padding-top: 10px;
  color: #333;
  background-color: #EEECEC;
}

ion-header {
  background-color: #EEECEC !important;
  --background: #EEECEC !important; 
  --box-shadow: none; 
  box-shadow: none;
}

ion-toolbar {
  background-color: #EEECEC !important; 
  --background: #EEECEC !important;
}

ion-searchbar {
  --background: white;
  --color: #222;
  --placeholder-color: #999;
  --icon-color: #666;
  --clear-button-color: #999;

  --border-radius: 999px;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  font-family: 'Fredoka', sans-serif;
  height: 48px;
  padding-left: 10px;

  outline: none;
}

ion-searchbar:focus-within {
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

ion-searchbar ::part(native-input) {
  border-radius: 999px;
  outline: none;
  box-shadow: none;
}

ion-icon {
  font-size: 2rem;
  margin-bottom: 10%;
}

.no-results-message {
  color: #000;
  font-family: 'Fredoka', sans-serif;
  font-size: 0.9rem;
  padding: 8px 16px;
}
