<ion-header class="header-section">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Clases Completadas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="classes-content">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="searchFunction()"
    placeholder="Buscar clases completadas..."
    show-clear-button="focus">
  </ion-searchbar>

  <ion-grid *ngIf="completedClasses?.length; else noCompleted">
    <ion-row>
      <ion-col size="12" *ngFor="let item of completedClasses">
        <ion-card class="class-card completed" (click)="openClass(item.class_number)">
          <ion-card-header>
            <ion-card-title>
              #{{ item.class_number }} {{ item.name }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="card-content-row">
              <div class="description">
                {{ item.description }}
              </div>
              <img src="assets/img/classcard-icon.png" alt="icon" class="icon-image" />
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #noCompleted>
    <ion-row class="ion-padding">
      <ion-col size="12" class="ion-text-center">
        <p *ngIf="searchTerm; else noCompletedClasses" class="no-results-message">
          No se encontraron clases completadas que coincidan con "{{ searchTerm }}".
        </p>
        <ng-template #noCompletedClasses>
          <p class="no-results-message">Aún no has completado ninguna clase.</p>
        </ng-template>
      </ion-col>
    </ion-row>
  </ng-template>

</ion-content>
