<ion-content [fullscreen]="true" class="classes-content">
  <ion-grid *ngIf="classes?.length">
    <ion-row>
      <ion-col size="12" *ngFor="let item of classes">

          <ion-card class="class-card">
            <ion-card-header>
              <ion-card-title>
                #{{ item.class_number }} {{ item.name }}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="card-content-row">
                <div class="description">
                  {{ item.description }}
                </div>
                <img src="assets/img/classcard-icon.png" alt="icon" class="icon-image" />
              </div>
            </ion-card-content>            
          </ion-card>
  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
