ion-footer {
  background-color: #EEECEC !important;
  --background: #EEECEC !important;
  box-shadow: none !important;
  border-top: none;
}

ion-footer ion-toolbar {
  background-color: #EEECEC !important;
  --background: #EEECEC !important;
  box-shadow: none !important;
}