<div class="image-question-container ion-padding">
  <img [src]="data.image" alt="Imagen de la actividad" class="main-image" loading="lazy" />

  <h2 class="question-title"> {{ data.question }} </h2>

  <div class="options-container">
    <ion-button
      *ngFor="let option of data.options"
      expand="block"
      shape="round"
      class="option-button"
      [class.correct]="getClass(option) === 'correct'"
      [class.wrong]="getClass(option) === 'wrong'"
      (click)="selectOption(option)">
      {{ option }}
    </ion-button>
  </div>
</div>
