<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-list>
        <ion-item 
          *ngFor="let pair of shuffledWords" 
          button 
          (click)="selectWord(pair.word)"
          [color]="getWordColor(pair.word)">
          {{ pair.word }}
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="6">
      <ion-list>
        <ion-item 
          *ngFor="let pair of shuffledImages" 
          button 
          (click)="selectImage(pair.image)"
          [color]="getImageColor(pair.image)">
          <img [src]="pair.image" alt="img" class="pair-image" />
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
