<h2 class="match-title">Escoge la pareja correspondiente</h2>
<ion-grid>
  <ion-row>
    <!-- Words -->
    <ion-col size="6">
      <ion-list class="match-list">
        <ion-item
          *ngFor="let pair of shuffledWords"
          button
          lines="none"
          class="match-item"
          [class.primary]="getWordColor(pair.word) === 'primary'"
          [class.success]="getWordColor(pair.word) === 'success'"
          [class.danger]="getWordColor(pair.word) === 'danger'"
          (click)="selectWord(pair.word)">
          <div class="match-content">
            <span class="match-text">{{ pair.word }}</span>
          </div>
        </ion-item>
      </ion-list>
    </ion-col>

    <!-- Images -->
    <ion-col size="6">
      <ion-list class="match-list">
        <ion-item
          *ngFor="let pair of shuffledImages"
          button
          lines="none"
          class="match-item"
          [class.primary]="getImageColor(pair.image) === 'primary'"
          [class.success]="getImageColor(pair.image) === 'success'"
          [class.danger]="getImageColor(pair.image) === 'danger'"
          (click)="selectImage(pair.image)">
          <div class="match-content">
            <img [src]="pair.image" class="pair-image" />
          </div>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
