<div class="typing-activity">
  <h2 class="question-title">{{ data.question }}</h2>
  <p class="highlight-word"><strong>{{ data.word }}</strong></p>

  <ion-input
    [(ngModel)]="userAnswer"
    placeholder="Escribe la traducción"
    [class.correct]="isCorrect === true"
    [class.wrong]="isCorrect === false"
    type="text"
    color="dark">
  </ion-input>

  <ion-button
  expand="block"
  class="neutral-button"
  (click)="checkAnswer()"
  [disabled]="!userAnswer">
  Comprobar
</ion-button>

</div>
