<div class="question-block ion-padding">
  <div class="text-wrapper">
    <h2 class="question-text">{{ data.question }}</h2>

    <div class="word-card">
      {{ data.word }}
    </div>
  </div>

  <div class="input-container">
    <input
      class="typing-input"
      [value]="userAnswer"
      (input)="updateAnswer($event)"
      placeholder="Escribe la traducción"
      [class.correct]="isCorrect === true"
      [class.wrong]="isCorrect === false"
      type="text"
    />

    <ion-button
      expand="block"
      shape="round"
      fill="solid"
      class="submit-button"
      (click)="checkAnswer()"
      [disabled]="!userAnswer.trim()">
      Comprobar
    </ion-button>
  </div>
</div>
